.Pokedex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Pokedex-cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
  
.Pokedex-winner {
    color: #259e29;
  }
  
  .Pokedex-loser {
    color: #d81154;
  }